---
import { getClouflareUrl } from '../helpers/cloudflare';
import BaseLayout from '../layouts/BaseLayout.astro';

const portraitImg = getClouflareUrl(
  'https://storage.schaermu.ch/schaermu_quad.jpg',
  360,
);
---

<BaseLayout title="Über mich" description="Über schaermu.ch und den Autor">
  <div class="prose max-w-none">
    <h1>Über mich</h1>
    <div class="flex flex-col md:flex-row gap-8 items-start">
      <div
        class="shrink-0 overflow-hidden w-32 h-32 rounded-xl bg-accent/10 dark:bg-accent-subtle border border-border flex items-center justify-center text-4xl font-bold text-accent shadow-sm"
      >
        <img src={portraitImg} />
      </div>
      <div class="flex-1">
        <p class="mt-0">
          Hallo! Ich bin ein leidenschaftlicher Software-Engineer und
          Web-Entwickler mit einem ausgeprägten Interesse an modernen
          Web-Technologien. Willkommen auf <strong
            ><span class="text-accent">blog</span>.schaermu.ch</strong
          >, meinem digitalen Garten, in dem ich meine Gedanken, Erkenntnisse
          und Experimente in der Software-Entwicklung teile.
        </p>
        <p>
          Im Laufe meiner Karriere habe ich an verschiedenen Teilen des Stacks
          gearbeitet – von pixelgenauen User Interfaces bis hin zu robusten
          Backend-Systemen. Aktuell beschäftige ich mich jedoch primär mit den
          Auswirkungen von generative AI auf die Software-Enwtwicklung und
          versuche im Rahmen meines Jobs eine gesunde Adoption dieser neuen
          Tools zu ermöglichen.
        </p>
        <p>
          Wenn ich nicht gerade Software baue, bin ich entweder am joggen,
          lesen, kochen oder gamen. Nach Möglichkeit draussen. Dieser Blog dient
          sowohl als öffentliches Notizbuch meiner technischen Reise als auch
          als Möglichkeit, mich mit anderen Engineers & Leaders in der Community
          zu vernetzen.
        </p>
        <p>
          Danke fürs Vorbeischauen! Schau dich gerne um - ich hoffe, du findest
          etwas Nützliches oder Inspirierendes.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
